img, h4 {
    display: inline;
    margin: 0 10px;
}

.post {
    margin: 7px;
    padding: 10px;
    list-style-type: none;
    border-style: solid;
    border-color: #aaaaaa;
    width: 600px;
    border-width: thin;
}
